body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: yellow;
}

.rating-review-container{
    background: #fff;
    width: 400px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10%;
}

.rating-emoji{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.rating-emoji .fa-regular {
    margin: 1px;
    background: yellow;
    border-radius: 50%;
    transform: translate(-0px);
    transition: transform 0.3s;
}

.rating-star{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.active{
    color: orange;
}